html {
	background: rgba(0, 0, 0, 0.35)
		url(https://images4.alphacoders.com/714/714539.jpg) no-repeat center center
		fixed;
	background-size: cover;
	background-blend-mode: darken;
	font-size: 62.5%;
}

body {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

.header-container {
	width: 80%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

h1 {
	color: rgb(253, 237, 143);
	font-family: 'Macondo', cursive;
	font-size: 7.2rem;
}

h3 {
	color: rgb(253, 237, 143);
	font-family: 'Macondo', cursive;
	font-size: 4.8rem;
}

p {
	color: rgb(253, 237, 143);
	font-family: 'Antic Slab', serif;
	font-size: 2.2rem;
	width: 40%;
	margin-top: 0;
}

nav ul {
	width: 90%;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin: 0 auto;
	padding: 35px;
}

a {
	color: rgb(253, 237, 143);
	font-size: 1.8rem;
	text-decoration: none;
}

a:visited {
	color: rgb(253, 237, 143);
}

a:hover {
	text-decoration: underline;
}

nav li {
	margin: 0px 30px;
}

.about-header {
	display: flex;
	justify-content: center;
}

img {
	float: right;
	width: 40%;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
	border-radius: 2px;
}

.about-content {
	width: 85%;
	margin: 50px auto;
}

#about {
	height: 100vh;
}

.footer {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding: 20px 35px;
	width: 100%;
	position: fixed;
	bottom: 0;
    left: 0;
	background-color: rgba(0, 0, 0, 0.35);
}

.footer a {
	margin: 0px 30px;
}

.footer p {
	margin: 0;
}
