body {
	margin: 0;
	padding: 0;
}

.circle {
	height: 400px;
	width: 400px;
	border-radius: 50%;

	animation: colorChange 10s ease-in-out infinite alternate;
}

@keyframes colorChange {
	0% {
		background-color: cyan;
	}
	33% {
		background-color: magenta;
	}
	66% {
		background-color: yellow;
	}
}
