body {
	margin: 0;
    padding: 0;
}

.footer {
	position: fixed;
	bottom: 0;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
	background-color: rgba(238, 124, 48, 0.678);
	color: antiquewhite;
}

a {
	color: antiquewhite;
}

p {
	padding: 0px 20px;
}
