body {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

.container {
	display: flex;
	flex-wrap: wrap;
}

div {
	font-size: large;
	font-family: 'Times New Roman', Times, serif;
	font-weight: 900;
	box-sizing: border-box;
}

.header,
.paragraph,
.aside-1,
.aside-2,
.footer,
.container {
	width: 100%;
}

.header,
.aside-1,
.aside-2,
.footer {
	display: flex;
	justify-content: center;
	align-items: center;
}

.header,
.paragraph,
.aside-1,
.aside-2,
.footer {
	padding: 15px;
}

.header {
	background-color: #ff6348;
}

.paragraph {
	background-color: #03bfff;
}

.aside-1 {
	background-color: #ffd701;
}

.aside-2 {
	background-color: #ff69b4;
}

.footer {
	background-color: #90ee90;
}
